<div class="col-xs-12 col-sm-8">

  <div class="panel panel-default">
    <div class="panel-heading">
      Active Quote
    </div>
    <div class="panel-body">
      <app-quote-display [quote]="activeQuote | async"></app-quote-display>
    </div>
  </div>

</div>





<div class="col-xs-12 col-sm-4">

  <div class="panel panel-default">
    <div class="panel-heading">
      Search Quote
    </div>
    <div class="panel-body">
      <input type="text" class="form-control input-lg" placeholder="Ex. AAPL" [(ngModel)]="quoteSearchInput">
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary btn-block" (click)="search()">Search</button>
      <button type="button" class="btn btn-success btn-block" (click)="save()">Save</button>
      <!-- <button type="button" class="btn btn-default btn-block" (click)="clearSavedQuotes()">Clear Saved</button> -->
    </div>
  </div>

</div>



<div class="col-xs-12 col-sm-6">

  <div class="panel panel-default">
    <div class="panel-heading">
      Saved Quotes
      <a class="btn btn-link" (click)="clearSavedQuotes()">Clear</a>
    </div>
    <app-quote-list [quotes]="savedQuotes | async"></app-quote-list>

  </div>

</div>

<div class="col-xs-12 col-sm-6">

  <div class="panel panel-default">
    <div class="panel-heading">
      Saved Quotes Analytics
    </div>
    <div class="panel-body">
      <app-quotes-analytics [quotes]="savedQuotes | async"></app-quotes-analytics>
    </div>
  </div>
</div>
