<div class="col-xs-8">

  <div class="panel panel-default">
    <div class="panel-heading">
      Saved Symbols
      <button type="button" class="btn btn-default">Clear</button>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">ADBE</h4>
          <p class="list-group-item-text">Adobe Systems Inc.</p>
        </li>
        <li class="list-group-item">Test 1</li>
        <li class="list-group-item">Test 1</li>
      </ul>
  </div>

</div>

<div class="col-xs-4">

  <div class="panel panel-default">
    <div class="panel-heading">
      Search Quote
    </div>
    <div class="panel-body">

      <div class="row">

        <div class="col-xs-12">
          <app-quote-symbol [symbol]="symbol | async"></app-quote-symbol>
        </div>
        <div class="col-xs-12">
          <span class="h2"><small>last price</small> 145.65</span>
        </div>
        <div class="col-xs-12">
          <span class="h3"><small>change</small> 0.43</span>
        </div>
        <div class="col-xs-12">
          <span class="h4"><small>change %</small> (0.14%)</span>
        </div>
      </div>


      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Ex. AAPL" [(ngModel)]="quoteSearchInput">
      </div>
      <button type="button" class="btn btn-primary btn-block" (click)="search()">Search</button>
      <button type="button" class="btn btn-success btn-block">Save</button>
    </div>
  </div>


  <!-- active quote -->
  <!-- save quote button -->
  <!-- symbol search input -->
</div>
