<div class="container-fluid">
  <nav class="navbar navbar-light">
    <ul class="nav align-items-center nav-justified">
      <li class="nav-item">
        <!-- <button type="button" class="btn btn-link disabled text-left">Refresh</button> -->
      </li>
      <li class="nav-item">
        <span class="h2">Portfolio</span>
      </li>
      <li class="nav-item">
        <!-- <button type="button" class="btn btn-link disabled text-right">Search</button> -->
      </li>
    </ul>
  </nav>
</div>


<div class="container">





  <section id="value" class="jumbotron">

    <div class="col-12 display-4 text-center">${{(totalValue | async) | number:"1.2-2"}}</div>

    <!-- <div class="row">

      <div class="col-6 h5 text-right">+48.72</div>

      <div class="col-6 h5 text-left">(4.14%)</div>

    </div> -->

  </section>



<section id="holdings" class="container-fluid">

  <header class="row align-items-center text-center">

    <div class="col-3"></div>

    <div class="col-6">
      <span class="h4">Holdings</span>
    </div>

    <div class="col-3">
      <button type="button" class="btn btn-link add-holding" (click)="saveNewHolding(newHolding.value); newHolding.reset()">Add</button>
    </div>

  </header>

  <div class="row">
    <app-holding-form class="col-12" #newHolding></app-holding-form>
  </div>

  <div class="row">
    <app-holdings-table class="col-12" [holdings]="holdings | async"></app-holdings-table>
  </div>



</section>
</div>
