<table class="table">

  <thead>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Purchased At</th>
      <th>Total Value</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

    <tr class="holding" *ngFor="let holding of holdings" (click)="clickedRow(holding)">
      <td>{{holding.symbol}}</td>
      <td>{{holding.quantity}}</td>
      <td>${{holding.purchasePrice}}</td>
      <td>${{holding.quantity * holding.purchasePrice}}</td>
      <td><button type="button" class="btn btn-danger remove-btn" (click)="clickedRemoveButton(holding)">Remove</button></td>
    </tr>

    <tr class="empty-state" *ngIf="!holdings || !holdings.length">
      <td colspan="5" class="text-center">No Holdings</td>
    </tr>

  </tbody>

</table>
