<ul class="list-group">

  <li class="list-group-item quote clearfix" (click)="clickedQuote.emit(quote)" *ngFor="let quote of quotes">
    <div class="col-xs-8">
      <h4 class="list-group-item-heading">
        {{quote.symbol}}
        <small>{{quote.lastUpdated | date:'short'}}</small>
      </h4>
      <p class="list-group-item-text">
        {{quote.name}}
      </p>
    </div>
    <div class="col-xs-2">
      <h4 class="list-group-item-heading">
        <app-number [value]="quote.lastPrice"></app-number>
      </h4>
      <p class="list-group-item-text">
        <app-number [enableColor]="true" [value]="quote.change"></app-number>
      </p>
    </div>
    <div class="col-xs-2">
      <a class="btn btn-link accessory" (click)="clickedQuoteAccessory.emit(quote)">Remove</a>
    </div>
  </li>

</ul>
