

<div class="container">
  <div class="col-xs-12">
    <h1>
      {{title}}
    </h1>
  </div>

  <div class="col-xs-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        Saved Symbols
        <button type="button" class="btn btn-default">Clear</button>
      </div>
        <ul class="list-group">
          <li class="list-group-item">Test 1</li>
          <li class="list-group-item">Test 1</li>
          <li class="list-group-item">Test 1</li>
        </ul>
    </div>

  </div>

  <div class="col-xs-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        Search Quote
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12">
            <span class="h1">AAPL <small>145.65</small></span>
          </div>
          <div class="col-xs-12">
            <span class="h3">0.43 <small>(0.14%)</small></span>
          </div>
        </div>


        <div class="form-group">
          <input type="text" class="form-control input-lg" placeholder="Ex. AAPL" value="">
        </div>
        <button type="button" class="btn btn-primary btn-block">Search</button>
        <button type="button" class="btn btn-success btn-block">Save</button>
      </div>
    </div>


    <!-- active quote -->
    <!-- save quote button -->
    <!-- symbol search input -->
  </div>
</div>
