<ng-container *ngIf="quote">
  <div class="col-xs-12 symbol">
    <span class="h2"><small>symbol</small> {{quote.symbol | uppercase}}</span>
  </div>
  <div class="col-xs-12 last-price">
    <span class="h2"><small>last price</small> {{quote.lastPrice | number:'1.2-2'}}</span>
  </div>
  <div class="col-xs-12 change">
    <span class="h2"><small>change</small> {{quote.change | number:'1.2-2'}}</span>
  </div>
  <div class="col-xs-12 change-percent">
    <span class="h2"><small>change %</small> ({{quote.changePercent | number:'1.2-2'}}%)</span>
  </div>
</ng-container>

<ng-container *ngIf="!quote">
  <div class="empty">
    No Active Quote
  </div>
</ng-container>
