<ng-container *ngIf="quote">
  <div class="col-xs-12 symbol">
    <span class="h2">
      <small>symbol</small> {{quote.symbol | uppercase}}
    </span>
  </div>
  <div class="col-xs-12 name">
    <span class="h2">
      <small>name</small> {{quote.name}}
    </span>
  </div>
  <div class="col-xs-12 last-price">
    <span class="h2">
      <small>last price</small> <app-number [value]="quote.lastPrice"></app-number>
    </span>
  </div>
  <div class="col-xs-12 change">
    <span class="h2">
      <small>change</small> <app-number [value]="quote.change" [enableColor]="true"></app-number>
    </span>
  </div>
  <div class="col-xs-12 change-percent">
    <span class="h2">
      <small>change %</small> <app-number [value]="quote.changePercent" [enableColor]="true"></app-number>
    </span>
  </div>
  <div class="col-xs-12 change-percent">
    <span class="h2">
      <small>last updated</small> {{quote.lastUpdated | date:'short'}}
    </span>
  </div>
</ng-container>

<ng-container *ngIf="!quote">
  <div class="empty">
    No Active Quote
  </div>
</ng-container>
